*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* $white:#fff;
$black:#191919;
$orange:#ffb615;
$grey:#eee;
$yt_color:#ff0000;
$arbil: 'Abril Fatface', cursive;
$roboto: 'Roboto', sans-serif; */
/* .dFlex{
  display:flex;
  justify-content: center;
 align-items: center;
} */

body{
  background-clip: #eee;
  width:100%;
  height:100vh;
  font-family: sans-serif;
  
}

/* .funciona{
  margin-bottom: 80px;
  display:flex;
  justify-content: center;
 align-items: center;
} */

/* .funciona{
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1140px;
  padding: 50px 100px 0 100px;
  width:100%;
  margin: 50px auto;
  @media(max-width:1024px){
    padding: 50px 0 0 0;
  }
  @media(max-width:768px){
    padding: 50px 20px 0 20px;
  }
} */

nav{
  display:flex;
 align-items: center;
 border-bottom: 1px solid rgba(#191919, .2);
 padding: 10px 50px;
 justify-content: space-between;
 color: #31a9cc;
 font-size: 18px;
 padding-top: 30px;
}
.my_shop{
  position: absolute;
  left: 50%;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;

}
.card{
  width: 100%;
  position: relative;
  border-radius: 15px;
  transition: .3s ease-in-out;
}
.card:hover{
  background-color: #31a9cc;
  box-shadow: 13px 18px 42px -20px rgba(#191919, .75);
  color: #fff;
  bottom: -20px;
}
.card-img{
  position: relative;
  width: 100%;
  top: -20px;
  transition: all .3s ease-in-out;
  }
.card-img:hover{
  top:-40px;
  transform: scale (1.2);
}

.card-body{
  padding: 0 25px;
}
.titulo{
  font-family: cursive;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 2px;
  font-size: 20px;
}
.descripcion{
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.price-section{
  display: flex;
  justify-content: space-between;
}
.tamano{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
span{
  margin-left: 10px;
}

.price{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.peso{
  margin-right: 5px;
  display: inline-block;
}
.cta-group{
  display: flex;
}
.carro{
  display: flex;
  width: 150px;
  height: 40px;
  border: 2px solid #ffad01;
  border-radius: 20px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffad01;
  font-weight: bold;
  transition: all .3s ease-in-out;
}
.carro:hover{
    color: #fff;
    background-color: #ffad01;
    box-shadow: 11px 10px 12px -5px rgba(#191919, .52);
}
